{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
{{ form_start(form) }}

<div class="form-control">{{form_widget(form.libelle)}}</div>
<div class="form-row">{{form.libelle, ('label': 'Libellé')}}</div>
{{form_rest(form)}}

<p>
<button type="submit">Validation</button>
<button type="reset">Annuler</button>
</p>
{{ form_start(form) }}
</div>
{% endblock %}